@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .customContainer {
    @apply px-28 py-20;
  }

  .background {
    @apply bg-[url("./../images/light.jpg")] dark:bg-[url("./../images/dark.webp")] bg-cover;
  }

  .containerCustom {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 768px) {
    .containerCustom {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .containerCustom {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .containerCustom {
      width: 1170px;
    }
  }
}

.owl-carousel .owl-item img {
  width: auto !important;
}
